/* Header menu styling starts here */

*{
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    
}

.container{
    background-color: rgba(97, 98, 101, 0.952);
    display: flex;
    align-items: center;
    justify-content: space-around;
  

}

.logo img{
    width: 100px ;
}

/* Here is my ul styling */

.Nav ul li{
    display: inline-block;
    padding: 0 8px;
   
   
}

.Nav ul li a{
    font-size: 16px;
    color: #f2f2cf
}
.Nav ul li a:hover{
    text-decoration: underline;
}

span{
    background-color: rgb(194, 81, 194);
    font-size: 12px;
    padding: 4px;
    border-radius: 5px;
    
}

span:hover{
    background-color: azure;
    color: brown;

}

/* my login styling starts here */

.login1{
    border: 2px#ffff solid;
    padding: 0 10px;
    font-size: 16px;
    padding:8px 25px;
    border-radius: 5px;
    color: #ffff;
    font-weight: bold;
}

.login1:hover{
    background-color: azure;
    color: rgb(141, 110, 110);
}

.get-started{
    background-color: rgb(36, 85, 244);
    padding: 0 10px;
    font-size: 16px;
    padding:10px 25px;
    border-radius: 5px;
    color: rgba(56, 13, 2, 0.952);
    font-weight: bold;
}

.get-started:hover{
    background-color: azure;
    color: rgb(128, 18, 18);
}

/* my menu-bar icon starts here */

.menu-bar{
float: right;
position: relative;
left: 320px;
bottom: 30px;
display: none;
}

#check{
    display: none;
}


/* my header menu ends here */


/* Section styling begins here */

.section{
    background-color: rgb(224, 209, 195);
    padding: 40px;
}

.section1{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.section1 h1{
    font-size:50px;
    margin-bottom: 20px;
    text-wrap: balance;
    
    line-height: 50px;
}

.section1 p{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
}

.button{
    width: 15%;
    margin: 0px auto;
    text-align: center;
    background-color: rgb(0, 98, 255);
    padding: 25px;

}

.button a{
    color: #ffff;
}

.button:hover{
    border: aqua solid;
}

.fa-solid:hover{
   transform: scale(1.2);
}

/* section1 and button styling ends here */

.input{
    margin: 30px 250px;
    /* width: 40%; */
    
}

.input1{
    background-color: transparent;
    border: 1px solid #736c64;
    padding: 10px 40px;
  
}

button{
    background-color: black;
    padding: 10px 40px;
    color: #ffff;
    border:3px #ffff solid;
}

button:hover{
    background-color:#736c64 ;
}

.img img{
    width: 60%;
    padding: 0px auto;
    margin-left: 225px;
    align-content: center;
   
}

/* service and service-main styling starts here */

.service h1{
    /* background-color: aqua; */
    width: 50%;
    margin: 0px auto;
    text-align: center;
    font-size: 40px;
    padding: 60px 0px;
}

.service-main{
    display: flex;
}

.service-main1{
    padding:10px 20px;
}

.service-main1 > p:nth-child(2){
    color: #ff822f;
    font-weight: bold;
}

.fa-face-smile{
    font-size: 40px;
}
.fa-cloud-arrow-up{
    font-size: 40px;
}
.fa-file-shield{
    font-size: 40px;
}
.fa-swift{
    font-size: 40px; 
}

/* Section styling ends here */

/* sub-section styling starts here */

.sub-section{
    background-color: rgb(23, 21, 21);
    color: #ffff;
}

.sub h1{
    /* width: 50%; */
    margin: 0px auto;
    text-align: center;
    font-size: 40px;
    padding: 60px 0px;
}

/* Portfolio-flex styling starts here */

.portfolio-flex{
    background-color: rgb(48, 43, 43);
    display: flex;
}

img{
    width: 100%;
    height: 40%;
}
.work{
    border: 3px  blanchedalmond solid;
    flex: 1;
    margin-left: 20px;
}

.work h2{
padding: 30px 50px;
font-weight: bold;
}

.work p{
    padding: 5px 50px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    line-height: 1.4;
}

.get-dropbox a{
    background-color:rgb(50, 124, 243)  ;
    padding: 10px 30px;
    border: 2px rgb(50, 124, 243) solid;
    margin-left: 50px;
    color: black;
    font-weight: bold;
}

.personal-use{
    margin: 0px 20px;
    border: 3px  blanchedalmond solid;
    flex: 1;
}

.personal-use h2{
    padding: 30px 50px;
    font-weight: bold;
}

.personal-use p{
    padding: 5px 50px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    line-height: 1.4;
}

.personal a{
    background-color:rgb(50, 124, 243)  ;
    padding: 10px 30px;
    border: 2px rgb(50, 124, 243) solid;
    margin-left: 50px;
    color: black;
    font-weight: bold;
}

/* sub1 and sub1-main styling starts here */

.sub1 h1{
    width: 50%;
    margin: 0px auto;
    text-align: center;
    font-size: 40px;
    padding: 50px 0px;
}

.sub1-main{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.sub1-main1{
    padding:10px 60px;
    
}

.sub1-main1 h1{
    font-size: 40px;
    font-variant-numeric: lining-nums;
}

.sub1-main1 h3{
    font-size: 16.5px;
}

.sub1-main1 p{
    font-size: 16px;
    line-height: 25px;
}

/* sub1 and .sub1-main styling ends here */

/* subfooter styling starts here */

.subfooter-flex{
    background-color: #363636;
    display: flex;
    padding: 30px 60px;
}

.subfooter{
    color: aliceblue;
}
.subfooter h2{
    font-size: 40px;
}

.subfooter-button{
    margin: 70px 130px;
}

.subfooter-button a{
    background-color:rgb(50, 124, 243)  ;
    padding: 25px 40px;
    border: 2px rgb(50, 124, 243) solid;
    margin-left: 50px;
    color: black;
    font-weight: bold;
}

/* subfooter styling ends here */

/* footer-flex styling starts here */


.footer{

    background-color:rgb(23, 21, 21);
}

.footer-flex{
    display: flex;
    padding: 50px 40px;
    color: aliceblue;
}

.footer-flex ul li a{
    line-height: 30px;
    color: aliceblue;
    font-size: 17px;
}

.footer-flex h3{
    margin-left: 40px;
}

.footer-icon p{
    /* display:inline-block; */
    display: inline-flex;
    margin: 0px 10px;
    color: aliceblue;
    padding: 30px 10px;
}
.fa-twitter{
    margin: 0px 30px;
}
.fa-facebook{
    margin: 0px -30px;
}
hr{
    width: 15%;
    border:1px #ffffff solid;
    margin: 10px 40px;
    
}
.footer-icon a{
    color: #ffff;
    text-transform: capitalize;
    margin:0px 10px ;
}
.footer-icon a:hover{
    text-decoration: underline;
}
.fa-greater-than{
    margin: 0px 10px;
}


/* Mobile responsive from screen to max-width of 1040px starts here */

@media screen and (max-width:1040px) {

    /* Header menu starts here */

 .container{

        background-color: rgb(3, 46, 46);

    }

 .Nav ul li a{
    
        padding: 0px 3px;
        
    }

 .Nav ul li{
        /* display: block; */
        padding: 0px 3px;    
        }
    
 .login{

       margin-left: -20px;
  }

 .login1{

    padding: 5px;
   
  }

 .get-started{
    
    padding: 5px;
    
  } 

  /* Header menu ends here */


  /* Section styling begins here */

 

  .section{
       padding: 30px;
  }

  .button{
    width: 20%;
    padding: 20px 10px;

}

/* section1 and button styling ends here */

/* input and img styling starts here */

.input{
    margin: 30px 140px;
    text-align: center;
  }

.img img{
    width: 80%;
    padding: 0px auto;
    margin-left: 90px;
   
}

/* subfooter styling starts here */

.subfooter-flex{
    background-color: #363636;
    /* display: flex; */
    padding: 30px 40px;
}

.subfooter{
    color: aliceblue;
}
.subfooter h2{
    font-size: 35px;
}


.subfooter-button{
    width: 100%;
    padding: 50px 50px;
    position: absolute;
    /* top: 1000%; */
    /* left: -50px; */
    margin: -10px 230px;
    
}

.subfooter-button a{
    padding: 15px 10px;
    margin-left: 220px;
    font-size: 20px;
    
}

/* subfooter styling ends here */




}


/* Mobile responsive from screen to max-width of 1040px ends here */



/* Mobile responsive from min 860px to max-width of 900px starts here */

@media (min-width:860px) and (max-width:900px) {

    /* Head menu starts here */

  .container{

        background-color: rgb(68, 43, 9);
        position: relative;
    }

 .Nav ul{
    background-color:#db8b55;
    width: 30%;
    position: absolute;
    top: 70%;
    left: 40%;
    height: 70vh;
    border-radius: 10px;
 }



 .footer{

   position: relative;
 }

 .logo img{
  position: relative;
  right: 50%;
 }


    .Nav ul li a{
    
        padding: 0px 0px;
      
        
    }

    .Nav ul li{
    display: block;
    padding: 7px;    
    }

 .login{
    position: absolute;
    right: 80px;
 }
    
 .login1{
    padding: 3px;

   }


 .get-started{
    padding: 3px;
   } 

   

  /* Menu-bar styling starts here */

 .menu-bar{
    display: block;
    position: absolute;
    top: 33%;
    left: 92%;
    font-size: 25px;
    color: #ffff;
    cursor: pointer; 
 }

 #check:checked ~ ul{
    display: none;
 }

  /* Header menu ends here */


  /* Section styling begins here */

 .section1{
    width: 100%;
 }

 .section1 h1{
    font-size: 35px;
    line-height: 1.5rem;
    margin-bottom: 40px;
 }

 .section1 p{
    font-size: 20px;
    line-height: 1.1rem;
    color: #363636;
 }

 .button{
    width: 30%;
    padding: 20px;
 }

 .input input{
    width: 42%;
    margin-right: 180px;
  }

  ::placeholder{
    font-size: 15px;
    font-weight: 650;
 }


 .input{
    padding: 10px 5px;
    /* width:25%; */
 }

 .input1{
    font-size: 18px;
 }

 button{
    font-size: 13px;
    padding:10px 6.6px;
    width: 20%;
    position: absolute;
    top: 422px;
    right: 200px;
    
 }



 .img img{
    width: 100%;
    padding: 0px auto;
    margin-left: 1px;
 }

 .service h1{
    font-size: 30px;
    width: 100%;
 }

 .service-main{
    /* flex-direction: column; */
    text-align: center;
 }

 .fa-face-smile{
    font-size: 30px;
    /* position: absolute; */
    /* right: 120px; */
    
  }
 .fa-cloud-arrow-up{
    font-size: 30px;
    /* position: absolute; */
    /* right: 85px; */
 }
 .fa-file-shield{
    font-size: 30px;
    /* position: absolute; */
    /* right: 90px; */
 }
 .fa-swift{
    font-size: 30px; 
    /* position: absolute; */
    /* right: 85px; */
 }

   /* section styling ends here */


  /* subsection styling starts here */

.sub h1{
    width: 100%;
    /* text-align: center; */
    font-size: 30px;
    padding: 40px 0px;
  }

.portfolio-flex{
    display: flex;
  }


.work{
    margin-left: 70px;
    flex: 1;
    height: 550px;
}

.work h2{
padding: 30px 50px;
font-weight: bold;
}

.work p{
    padding: 5px 50px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    line-height: 1.4;
}


.get-dropbox a{
    font-size: 16px;
    /* padding: 10px 30px; */
   
}
.paul{
    font-size: 15px;
}

 
.personal-use{
    height: 550px;
    }

.personal-use h2{
    padding: 30px 30px;
    }
    
.personal-use p{
    padding: 5px 20px;
    font-size: 15px;
    }

.personal a{
    padding: 8px 0px;
    margin: 3px;
    font-size: 15px;
    }
.personal{
        font-size: 16px;
    margin: 70px;
       
    }

.peter{
    font-size: 10px;
    }

    /* sub1 main styling starts here */
    
    .sub1-main{
        flex-direction: flex;
        text-align: center;
    }

    .sub1 h1{
        width: 50%;
        font-size: 30px;
        padding: 50px 0px;
    }


    .sub1-main1 h1{
        font-size: 25px;
    }
    
    .sub1-main1 h3{
        font-size: 15.5px;
    }
    
    .sub1-main1 p{
        font-size: 14.5px;
        padding-bottom: 20px;
    }

    .subfooter-flex{
        padding: 20px 10px;
     }
    
    .subfooter h2{
        font-size: 30px;
        width: 150%;
        padding: 20px 0px;
        margin: 30px 30px;
    }
    .subfooter-button{
        width: -100%;
        padding: 25px 80px;
        /* position: relative; */
        /* top: 630%; */
        /* right: -60px; */
        margin: 30px 150px;

    }
    
      .subfooter-button a{
        padding: 10px 3px;
        font-size: 20px;
        
    }
    
    .james{
        font-size: 12px;
        margin-right: 10px;
    }

    hr{
        margin: 10px 60px;
        width: 100px;
    }

    .footer-icon p{
        margin-left: 30px;
    }

}
    

    /* Mobile responsive from min 400px to max-width of 859px starts here */

@media (min-width:400px) and (max-width:859px) {

    /* Head menu starts here */

  .container{

        background-color: rgb(68, 43, 9);
        position: relative;
    }

 .Nav ul{
    background-color:#db8b55;
    width: 50%;
    position: absolute;
    top: 70%;
    left: 40%;
    height: 60vh;
    border-radius: 10px;
 }



 .footer{

   position: relative;
 }

 .logo img{
  position: relative;
  right: 50%;
 }


    .Nav ul li a{
    
        padding: 0px 0px;
      
        
    }

    .Nav ul li{
    display: block;
    padding: 7px;    
    }

 .login{
    position: absolute;
    right: 80px;
 }
    
 .login1{
    padding: 3px;

   }


 .get-started{
    padding: 3px;
   } 

   

  /* Menu-bar styling starts here */

 .menu-bar{
    display: block;
    position: absolute;
    top: 33%;
    left: 92%;
    font-size: 25px;
    color: #ffff;
    cursor: pointer; 
 }

 #check:checked ~ ul{
    display: none;
 }

  /* Header menu ends here */


  /* Section styling begins here */

 .section1{
    width: 100%;
 }

 .section1 h1{
    font-size: 35px;
    line-height: 1.5rem;
    margin-bottom: 40px;
 }

 .section1 p{
    font-size: 20px;
    line-height: 1.1rem;
    color: #363636;
 }

 .button{
    width: 40%;
    padding: 10px;
 }

.input{
    margin: 30px 0px;
    /* text-align: center; */
  }

.input input{
    width: 42%;
   
  }

.input1{
    font-size: 15px;
 }

 ::placeholder{
    font-size: 13px;
    font-weight: 650;
 }

button{
    font-size: 13px;
    padding:10px 6.6px;
    width: 30%;
    /* position: absolute; */
    /* top: 465px; */
    /* right: 30px; */
    margin-left: 5px;
    margin-top: 0px;
    
 }


.img img{
    width: 100%;
    padding: 0px auto;
    margin-left: 1px;
 }

.service h1{
    font-size: 30px;
    width: 100%;
 }

 .service-main{
    flex-direction: column;
    text-align: center;
 }

 .fa-face-smile{
    font-size: 30px;
    
  }

 .fa-cloud-arrow-up{
    font-size: 30px;
   
 }
 .fa-file-shield{
    font-size: 30px;
   
 }
 .fa-swift{
    font-size: 30px; 
    
 }

   /* section styling ends here */


  /* subsection styling starts here */

.sub h1{
    width: 100%;
    /* text-align: center; */
    font-size: 30px;
    padding: 40px 0px;
  }

.portfolio-flex{
    display: block;
  }

.work{
    margin: 20px;
    /* flex: 1; */
    height: 550px;
 }

.work h2{
padding: 30px 50px;
font-weight: bold;
 }

.work p{
    padding: 5px 50px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    line-height: 1.4;
 }


.get-dropbox a{
    font-size: 16px;
    /* padding: 10px 30px; */
   
 }
.paul{
    font-size: 15px;
 }

 
.personal-use{
    height: 550px;
    }

.personal-use h2{
    padding: 30px 30px;
    }
    
.personal-use p{
    padding: 5px 20px;
    font-size: 15px;
    }

.personal a{
    padding: 8px 0px;
    margin: 3px;
    font-size: 15px;
    }
.personal{
    font-size: 16px;
    margin: 70px;
       
    }

.peter{
    font-size: 10px;
    }

    /* sub1 main styling starts here */
    
    .sub1-main{
        display: block;
        text-align: center;
    }

    .sub1 h1{
        width: 50%;
        font-size: 25px;
        padding: 50px 0px;
    }


    .sub1-main1 h1{
        font-size: 25px;
    }
    
    .sub1-main1 h3{
        font-size: 15.5px;
    }
    
    .sub1-main1 p{
        font-size: 14.5px;
        padding-bottom: 20px;
    }

    .subfooter-flex{
        padding: 20px 10px;
     }
    
    .subfooter h2{
        font-size: 20px;
        width: 150%;
        padding: 20px 0px;
        margin: 30px 10px;
    }
    .subfooter-button{
        width: 100%;
        padding: 25px 10px;
        margin: 30px 38px;

    }
    
    .subfooter-button a{
        padding: 10px 3px;
        font-size: 15px;
        
    }
    
    .james{
    font-size: 12px;
    margin-right: 10px;
    }

    /* footer-flex styling starts here */



  .footer-flex{
    display: flex;
    padding: 50px 0px;
    text-align: center;
 }

  .footer-flex ul li a{
    line-height: 30px;
    font-size: 12px;
    padding: 30px 0px;
 }

  .footer-flex h3{
    font-size: 15px;
 }



 .Product ul li a{
    /* line-height: 30px; */
    font-size: 17px;
    margin: 250px 0px;
 }



  hr{
    width: 200px;
    margin: 10px 70px;
    }

 .footer-icon p{
    margin-left: 30px;
    }





}







